.purpose{
    background: #fff;
   width: 100%;
   
}
.purpose-center {
    padding: 4rem;
    display: flex;
  
   
    width: 90%;
    margin: 0 auto;
}
.right {
    width: 50%;
    margin: 0 auto;
    

   
}
.left{
    width: 50%;
    margin: 0 auto;
}

 
  
  @media only screen and (max-width: 1024px) {
    .purpose-center{
        display: flex;
        flex-direction:column-reverse;
       

      }
      .right{
        width: 100%;
      }
      .left{
        width: 100%;
     
      }
  }
  @media screen and (max-width: 768px) {
    
}